<div layout="column">
  <div layout="row">
    <div ng-controller="VersionController">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Version</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <table>
            <tr ng-repeat="(key, value) in versionInformations">
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          </table>
        </md-card-content>
      </md-card>
    </div>
    <div ng-controller="TestConnectionController">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Connectivity</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="column">
            <div layout="row" layout-align="space-between center">
              <p>Running</p>
              <span flex></span>
              <i class="material-icons md-36"> {{ statusAlive }} </i>
            </div>
            <div layout="row" layout-align="space-between center">
              <p>Connectivity</p>
              <span flex></span>
              <i class="material-icons md-36"> {{ statusReal }} </i>
            </div>
            <md-button class="md-raised md-primary" ng-click="checkConnections()">Refresh</md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>