<div ng-controller="DownloadContentController" layout="column">

  <div ui-tree id="tree-root" data-drag-enabled="false">
    <ol ui-tree-nodes ng-model="downloadables">
      <li ng-repeat="node in downloadables" ui-tree-node ng-include="'downloadContentItem.htm'">
      </li>
    </ol>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">{{ currentFileName }}</h1>
    </md-toolbar>
    <md-content layout-padding>
      <div layout="column">
      <span flex>{{ currentFileContent }}</span>
      <md-button ng-click="close()" class="md-primary"> Close </md-button>
      </div>
    </md-content>
  </md-sidenav>

</div>