<div ng-controller="TestConnectionController">
  <table>
    <tr>
      <td><md-button class="md-raised" ng-click="testAliveConnection()">Alive Test</md-button></td>
      <td><i class="material-icons md-36"> {{ statusAlive }} </i></td>
      <td><p> {{ errorTextAlive }} </p></td>
    </tr>
    <tr>
      <td><md-button class="md-raised md-primary" ng-click="testRealConnection()">Real Connection Test</md-button></td>
      <td><i class="material-icons md-36"> {{ statusReal }} </i></td>
      <td><p> {{ errorTextReal }} $HOST:$PORT</p></td>
    </tr>
  </table>
</div>